<div class="container-lg" *ngFor="let cita of entradaCita">
  <div class="row">
    <button type="button" class="btn btn-primary" (click)="addFav()">Marcar favorita</button>
    <div class="col-3">Titulo libro:{{cita.titulo_libro}}</div>
    <div class="col-3">Página:{{cita.pagina}}</div>
    <div class="col-3">Autor:{{cita.autor}}</div>
    <div class="col-3">Texto:{{cita.texto}}</div>
    <div class="col-3">Fecha cita:{{cita.fecha_cita}}</div>
    <div class="col-3">Notas:{{cita.notas}}</div>
  </div>
</div>
